.ourTeam{
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
}
.customer{
    background-color: aliceblue;
    padding: 20px;
   
}
.c1{
    margin-top: 250px;
    margin-left: 200px;
}
.c2{
    margin-top: 200px;
}
.c3{
    margin-top: 150px;
}
.cer_text{
   margin-left: 300px;
   text-align: center;
}